@media only screen and (max-width: 600px) {
  .header__text-box {
    top: 50%;
    width: 50%;
  }

  .about__text-box {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 100vw;
  }

  .about-primary {
    font-size: 3.3rem;
    text-align: center;
    color: $off-white;
    font-weight: 550;
    letter-spacing: 0.3rem;
    font-family: ACaslonProItalic;
  }

  .about__statement {
    position: absolute;
    top: 18%;
    left: 0;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
    width: 100vw;
  }

  .about-secondary {
    font-size: 1.6rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    color: $white;
    font-weight: 50;
    font-family: ACaslonProItalic;
  }

  .about__statement--sub {
    position: absolute;
    width: 100vw;
    top: 37%;
    left: 0;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
  }

  .about-tertiary {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    color: $white;
    font-weight: 50;
    font-family: ACaslonProItalic;
  }

  .menu__text-box {
    position: absolute;
    top: 8%;
    right: 5%;
  }

  .menu-primary {
    font-size: 3.3rem;
    color: $base-grey;
    font-weight: 550;
    letter-spacing: 0.5rem;
    font-family: ACaslonProItalic;
  }

  .about-menu {
    position: absolute;
    width: 100vw;
    top: 15%;
    right: 0;
    padding-left: 2rem;
    font-size: 1.8rem;
    color: $base-grey;
    font-weight: 550;

    & a,
    & a:visited {
      color: inherit;
    }
  }

  .menu-list-container-left {
    position: absolute;
    width: 30rem;
    top: 33%;
    left: 5%;
  }

  .menu-list-container-right {
    position: absolute;
    width: 30rem;
    top: 33%;
    left: 55%;
  }

  .menu-list {
    list-style-type: none;
  }

  .list-header {
    font-weight: 550;
    font-size: 3rem;
    margin-top: 0.5rem;
  }

  .list-item {
    font-weight: 550;
    font-size: 1.7rem;
    padding-left: 6rem;
    height: 1.5rem;
  }

  .footer {
    position: absolute;
    width: 100vw;
    height: 18rem;
    bottom: 0;
  }

  .location {
    position: absolute;
    width: 40rem;
    height: auto;
    font-weight: 550;
    font-size: 2rem;
    left: 1%;
    top: 15%;

    span {
      display: block;

      &:not(:first-child) {
        font-size: 1.8rem;
        padding-left: 2rem;
      }
    }
  }

  .contact {
    position: absolute;
    width: 50rem;
    height: auto;
    font-weight: 550;
    font-size: 2rem;
    right: 1%;
    left: 0%;
    top: 50%;

    span {
      display: block;

      &:not(:first-child) {
        font-size: 1.8rem;
        padding-left: 2rem;
      }
    }
  }
}
