@media only screen and (max-width: 600px) {
  .header__text-box {
    top: 50%;
    width: 50%;
  }

  .about__text-box {
    position: absolute;
    top: 10rem;
    left: 5%;
  }

  .about-primary {
    font-size: 5rem;
    color: $off-white;
    font-weight: 550;
    letter-spacing: 0.5rem;
    font-family: ACaslonProItalic;
  }

  .menu__text-box {
    position: absolute;
    top: 10rem;
    right: 5%;
  }

  .menu-primary {
    font-size: 5rem;
    color: $base-grey;
    font-weight: 550;
    letter-spacing: 0.5rem;
    font-family: ACaslonProItalic;
  }
}
