nav {
    position: fixed;
    height: 7rem;
    width: 40rem;
    margin-top: 2rem;
    border-top: 0.2rem solid rgba(64, 64, 64, 0.7);
    border-bottom: 0.2rem solid rgba(64, 64, 64, 0.7);
    float: right;
    z-index: 1000;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            padding: 2rem 3rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}