nav {
  position: fixed;
  height: 5rem;
  width: 100vw;
  float: right;
  z-index: 10;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  //   clip-path: polygon(
  //     0% 0%,
  //     0% 100%,
  //     100% 100%,
  //     98% 96%,
  //     97% 93%,
  //     98% 91%,
  //     98% 88%,
  //     98% 85%,
  //     97% 83%,
  //     96% 81%,
  //     95% 80%,
  //     95% 78%,
  //     94% 76%,
  //     95% 74%,
  //     95% 71%,
  //     95% 70%,
  //     95% 68%,
  //     94% 67%,
  //     93% 65%,
  //     93% 61%,
  //     94% 59%,
  //     95% 57%,
  //     95% 54%,
  //     95% 52%,
  //     93% 50%,
  //     92% 48%,
  //     92% 45%,
  //     92% 44%,
  //     93% 42%,
  //     93% 40%,
  //     95% 38%,
  //     96% 35%,
  //     96% 34%,
  //     95% 31%,
  //     94% 29%,
  //     93% 28%,
  //     93% 26%,
  //     93% 27%,
  //     93% 26%,
  //     95% 22%,
  //     95% 21%,
  //     96% 19%,
  //     93% 17%,
  //     93% 14%,
  //     94% 11%,
  //     93% 9%,
  //     92% 8%,
  //     92% 6%,
  //     92% 5%,
  //     91% 4%,
  //     90% 3%,
  //     89% 2%,
  //     89% 1%,
  //     88% 0%,
  //     88% 0%,
  //     87% 0%
  //   );
  animation: moveInFromLeft 2s backwards ease-out;
  background-image: url(../images/parchment-nav.jpg);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;

    li {
      height: 100%;
      float: left;
      padding: 1rem 3rem;
      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
